<!DOCTYPE HTML>
<html>
<head>
 <title>Blog EMS</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
 <p>Get your greeting <a href="/greeting">here</a></p>
 <!-- Cabecera -->
 <header>

 <h1>Este es mi Blog </h1>
 </header>
 <!-- Contenido -->
 <section>
<b>Libros</b>
 <ul>
   <li>Cien años de soledad - Gabriel García Márquez</li>
   <li>El señor de los anillos - J.R.R. Tolkien</li>
   <li>1984 - George Orwell</li>
   <li>Harry Potter y la piedra filosofal - J.K. Rowling</li>
   <li>Don Quijote de la Mancha - Miguel de Cervantes</li>
   <li>Crimen y castigo - Fiódor Dostoievski</li>
   <li>Orgullo y prejuicio - Jane Austen</li>
   <li>El alquimista - Paulo Coelho</li>
 </ul>
 </section>
 <!-- Contenido -->
 <section>
<b>Películas</b>
 <ul>
   <li>El Padrino (1972)</li>
   <li>La Lista de Schindler (1993)</li>
   <li>Forrest Gump (1994)</li>
   <li>El Señor de los Anillos: La Comunidad del Anillo (2001)</li>
   <li>Titanic (1997)</li>
   <li>Pulp Fiction (1994)</li>
   <li>El Laberinto del Fauno (2006)</li>
   <li>Matrix (1999)</li>
 </ul>
 </section>
 <!-- Pie de pagina -->
 <footer>
 (c) Aspectos Juridicos
 </footer>
</body>
</html>

